body, html{
    height: 100%;
    margin: 0;
    padding: 0;
    background: #00BCD4;
    font-family: "Varela Round",sans-serif;
}

h1,h2,h3,p, button{
    margin: 0;
    padding: 0;
}

header{
    height: 70px;
    background: #FFFFFF;
    border-bottom: #0097A7 solid 1px;
}

.header-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    background: #0097A7;
}

.header-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.header-title{
    color: #fff;
    font-size: 30px;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

section{
   flex-grow: 1;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.textarea-container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 2px;
}

.arrow-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #B2EBF2;
    font-size: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.textarea-header-container{
    display: flex;
    justify-content: space-between;
}

.label-textarea{
    font-size: 18px;
}

h2 {
    color: #FFFFFF
}



 footer{
    height: 50px;
    display: flex;
    width: 100%;
    background: #FFFFFF;
    align-items: center;
}

.footer-container{
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.footer-by{
    text-decoration: none;
    color: #757575;
}

.container-submit{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: center;
    height: 50px;
}

.btn-submit{
    width: 200px;
    height: 35px;
    background: #009688;
    color: #FFFFFF;
    border: #009688 1px solid;
    border-radius: 5px;
}

.btn-action{
    width: 30px;
    height: 30px;
    border-radius: 4px;
    background: #009688;
    border-color: #009688;
    color: #fff;
    cursor: pointer;
}

textarea {
    flex-grow: 1;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    resize: none;
    font-size: 15px;
    background: #FFFFFF;
    border: none;
}

@media (max-width: 750px) 
{
    section{
        flex-direction: column;
    }

    .arrow-container{
        /* display: none; */
        flex-direction: column;
    }

    .arrow-json{
        transform: rotate(90deg);
    }
}